django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
cloudinary
django-cloudinary-storage
python-decouple
django-filter
whitenoise
pypdf
gunicorn
dj-database-url
psycopg2-binary
